#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 40px;
  justify-content: center;
}

.page {
  padding: 30px 0;
} 

.head {
  background: url(../images/background.png) no-repeat center center scroll;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  background-position: right top;
}

/* products */

.product {
  display: flex;
  margin-bottom: 80px;
}

.info {
  flex: 1;
  order: 1;
  padding: 25px;
}

.image {
  flex: 1;
  order: 2;
}

.info-right {
  flex: 1;
  order: 2;
  padding: 25px;
}

.image-left {
  flex: 1;
  order: 1;
}

.description-row {
  width: 100%;
}

.border-top {
  content: '';

  width: 110px;
  height: 4px;
  transform: translateX(30%);
  background: $color-main;
}

.products {
  padding-left: 100px;
}

.product-description {
  margin-left: 120px;
  padding: 0;
}

.specification {
  padding: 30px 0 0 0;
}

.specs-row {
  width: 100%;
  display: flex;
}

.about {
  background: url(../images/about-us.jpg);
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);
  height: 1070px;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  width: 775px;
  height: 300px;
  justify-items: center;
  padding-left: 140px;
}

/* contact */


  .form {
    max-height: 80%;
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-dark;
    font-size: 26px;
    font-weight: 600;
    margin: 20px 0;
    text-align: center;
    letter-spacing: 3px;

    .field-message {
      margin: 30px;
    }

    input {
      border: 3px solid $color-dark;
      min-width: 575px;
      max-width: 575px;
      min-height: 72px;
      max-height: 72px;
    }

    textarea {
      border: 3px solid $color-dark;
      clear: left;
      min-width: 575px;
      max-width: 575px;
      min-height: 150px;
      max-height: 150px;
      resize: none;
    }

    .submit-btn {
      background-color: $color-main;
      color: $color-light;
      border: none;
      width: 240px;
      height: 80px;
      margin: 40px 0;
      
      &:hover{
        transition-duration: 3s;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        z-index: 0;
      }

    }
  }


.article-contact {
  text-transform: uppercase;
}