
.page-title {
  color: $color-main;
  font-size: 77px;
  font-weight: 650;
  text-align: center;
  letter-spacing: 14px;
  margin-top: 20px;
  margin-bottom: 70px;
  padding-bottom: 40px;
  position: relative;
}

.page-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 800px;
  height: 6px;
  transform: translateX(-50%);
  background: $color-main;
}

.product-title {
  font-size: 46px;
  color: $color-dark;
  font-weight: bold;
  letter-spacing: 4px;
}

.product-description {
  color: $color-desc;
  text-align: right;
  padding-left: 40px;
  font-size: 15px;
  width: 350px;
  line-height: 25px;
}

.product-specs {
  color: $color-dark;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0;
  padding: 3px;
}

.product-rating {
  color: $color-main;
}

.about-info {
  color: $color-light;
  font-style: italic;

}
/* HEAD */

.brand-up {
  padding: 0 0 0 44px;
  margin: 20px 0 0 0;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 10px;
  color: $color-light;
}

.brand-down {
  padding: 5px 0 0 44px;
  margin: 0 0 200px 0;
  font-weight: 700;
  letter-spacing: 4.5px;
  font-size: 17px;
  color: $color-light;
}

.navbar-links {
  margin: 0;
  padding-bottom: 170px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar-link {
  margin: 20px 0 0 0;
  padding: 0 0 0 44px;
  text-decoration: none;
  color: $color-light;
  font-weight: 400;
  font-size: 19px;
}

.p-title-up {
  color: $color-main;
  font-size: 97px;
  font-weight: 700;
  text-align: left;
  padding: 0;
  margin: 0;
  letter-spacing: 21px;
}

.p-title-down {
  color: $color-main;
  font-size: 97px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0 0 60px 0;
  position: relative;
  letter-spacing: 21px;
  left: 140px;
  margin-bottom: 320px;
}

.p-title-down::after {
  position: absolute;
  content: '';
  bottom: -56px;
  left: 50%;
  width: 280px;
  height: 6px;
  transform: translateX(-50%);
  background: $color-main;
  left: 39%;
}

.discover {
  text-align: center;
  font-size: 33px;
  letter-spacing: 8px;
  color: $color-light;
}

.icon-down {
  font-size: 44px;
  color: $color-light;
  margin: 10px 0;
  font-weight: 400;
}

.footer {
  text-align: center;
  height: 20px;
  padding: 10px;
}

.about-text {
  color: $color-light;
  font-size: 36px;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 50px;
}

.about-footer {
  text-align: end;
  padding-right: 80px;
}

.title-contact {
  text-align: center;
  color: $color-main;
  font-size: 36px;
  letter-spacing: 8px;
  font-weight: 600;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 40px;
}
.title-contact:before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 750px;
  height: 6px;
  transform: translateX(-50%);
  background: $color-main;
}